<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdkcc.ts.dal.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.jdkcc.ts.dal.entity.Permission">
        <id     column="id"             property="id"               jdbcType="BIGINT"/>
        <result column="permit"           property="permit"             jdbcType="VARCHAR"/>
        <result column="description"    property="description"      jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        permit,
        description,
    </sql>

    <insert id="insert" parameterType="com.jdkcc.ts.dal.entity.Permission">
        INSERT INTO t_permission (
        <include refid="Base_Column_List"/>
        )
        VALUES (
        0,
        #{permit,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}
    </insert>

    <update id="update" parameterType="com.jdkcc.ts.dal.entity.Permission">
        INSERT INTO t_permission (
        <include refid="Base_Column_List"/>
        )
        VALUES (
        #{id,jdbcType=BIGINT},
        #{permit,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}
        WHERE
        id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_permission WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="count" resultMap="java.lang.Long" parameterType="java.lang.Long">
        SELECT count(*) FROM t_permission
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE  FROM t_permission WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="findAll" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_permission
        limit #{0,jdbcType=INTEGER},#{1,jdbcType=INTEGER}
        ORDER BY id
    </select>

    <select id="findByPermit" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_permission WHERE permit = #{permit,jdbcType=VARCHAR}
    </select>

    <select id="findByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_permission AS p
        INNER JOIN t_role_permission AS rp
        WHERE p.id = p.permission_id AND p.role_id = #{0,jdbcType=BIGINT}
    </select>

</mapper>