<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdkcc.ts.dal.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.jdkcc.ts.dal.entity.Role">
        <id     column="id"             property="id"               jdbcType="BIGINT"/>
        <result column="name"           property="name"             jdbcType="VARCHAR"/>
        <result column="description"    property="description"      jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        name,
        description,
    </sql>

    <insert id="insert" parameterType="com.jdkcc.ts.dal.entity.Role">
        INSERT INTO t_role (
        <include refid="Base_Column_List"/>
        )
        VALUES (
        0,
        #{name,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}
    </insert>

    <update id="update" parameterType="com.jdkcc.ts.dal.entity.Role">
        INSERT INTO t_role (
        <include refid="Base_Column_List"/>
        )
        VALUES (
        #{id,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}
        WHERE
        id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_role WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="count" resultMap="java.lang.Long" parameterType="java.lang.Long">
        SELECT count(*) FROM t_role
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE  FROM t_role WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="findAll" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_role
        limit #{0,jdbcType=INTEGER},#{1,jdbcType=INTEGER}
        ORDER BY id
    </select>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_role WHERE name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_role AS r
        INNER JOIN t_user_role AS ur
        WHERE r.id = ur.role_id AND ur.user_id = #{0,jdbcType=BIGINT}
    </select>

</mapper>