<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jdkcc.ts.dal.mapper.JUserMapper">
    <resultMap id="BaseResultMap" type="com.jdkcc.ts.dal.entity.Role">
        <id     column="ID"             property="id"               jdbcType="BIGINT"/>
        <result column="NAME"           property="name"             jdbcType="VARCHAR"/>
        <result column="DESCRIPTION"    property="description"      jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,
        NAME,
        DESCRIPTION,
    </sql>

    <insert id="insert" parameterType="com.jdkcc.ts.dal.entity.Role">
        INSERT INTO T_ROLE (
        <include refid="Base_Column_List"/>
        )
        VALUES (
        0,
        #{name,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}
    </insert>

    <update id="update" parameterType="com.jdkcc.ts.dal.entity.Role">
        INSERT INTO T_ROLE (
        <include refid="Base_Column_List"/>
        )
        VALUES (
        #{id,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="findOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_ROLE WHERE ID = #{id,jdbcType=BIGINT}
    </select>

    <select id="count" resultMap="java.lang.Long" parameterType="java.lang.Long">
        SELECT count(*) FROM T_ROLE
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE  FROM T_ROLE WHERE ID = #{id,jdbcType=BIGINT}
    </delete>

    <select id="findAll" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_ROLE
        WHERE ID = #{id,jdbcType=BIGINT}
        limit #{0,jdbcType=INTEGER},#{1,jdbcType=INTEGER}
        ORDER BY ID
    </select>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_ROLE WHERE NAME = #{name,jdbcType=VARCHAR}
    </select>

    <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_ROLE AS r
        INNER JOIN T_USER_ROLE AS ur
        WHERE r.ID = ur.ROLE_ID AND ur.USER_ID = #{0,jdbcType=BIGINT}
    </select>

</mapper>