<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="author" content="Cherish"/>

    <title>数据面板</title>

</head>

<body>

<div layout:fragment="content">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>汇总面板</h3>
        <ul class="breadcrumb">
            <li><a href="#">数据汇总</a></li>
            <li class="active">汇总面板</li>
        </ul>
        <div class="state-info">
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <span>总会员数</span>
                        <h3 class="red-txt">66</h3>
                    </div>
                    <div id="income" class="chart-bar"></div>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <div class="summary">
                        <span>今日注册</span>
                        <h3 class="green-txt">3</h3>
                    </div>
                    <div id="expense" class="chart-bar"></div>
                </div>
            </section>
        </div>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <!--statistics start-->
                <div class="row state-overview">
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="panel purple">
                            <div class="symbol">
                                <i class="fa fa-gavel"></i>
                            </div>
                            <div class="state-value">
                                <div class="value">150</div>
                                <div class="title">温馨墙</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="panel red">
                            <div class="symbol">
                                <i class="fa fa-book"></i>
                            </div>
                            <div class="state-value">
                                <div class="value">90</div>
                                <div class="title">日记</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row state-overview">
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="panel blue">
                            <div class="symbol">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="state-value">
                                <div class="value">66</div>
                                <div class="title">会员</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 col-sm-6">
                        <div class="panel green">
                            <div class="symbol">
                                <i class="fa fa-eye"></i>
                            </div>
                            <div class="state-value">
                                <div class="value">30</div>
                                <div class="title">心理测试</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--statistics end-->
            </div>
            <div class="col-md-6">
                <!--more statistics box start-->
                <div class="panel deep-purple-box">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7 col-sm-7 col-xs-7">
                                <div id="graph-donut" class="revenue-graph text-center">
                                    <i class="fa fa-area-chart" style="font-size: 170px;"></i>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                <ul class="bar-legend">
                                    <li><span class="blue"></span> 会员</li>
                                    <li><span class="green"></span> 心理测试</li>
                                    <li><span class="purple"></span> 温馨墙</li>
                                    <li><span class="red"></span> 日记</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--more statistics box end-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body extra-pad">
                        <h4 class="pros-title">
                            地域分布
                        </h4>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <div id="p-lead-1"></div>
                                <p class="p-chart-title">国家</p>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div id="p-lead-2"></div>
                                <p class="p-chart-title">省份</p>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <div id="p-lead-3"></div>
                                <p class="p-chart-title">城市</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-body extra-pad">
                        <div class="col-sm-6 col-xs-6">
                            <div class="v-title">访问量</div>
                            <div class="v-value">2,090</div>
                            <div id="visit-1"></div>
                            <div class="v-info">All Visit</div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="v-title">日访问</div>
                            <div class="v-value">173</div>
                            <div id="visit-2"></div>
                            <div class="v-info">Per Day</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="panel">
                    <div class="panel-body extra-pad">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <div class="knob">
                                    <span class="chart" data-percent="79">
                                        <span class="percent">79% <span class="sm">New Visit</span></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <div class="knob">
                                    <span class="chart" data-percent="56">
                                        <span class="percent">56% <span class="sm">Bounce rate</span></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--body wrapper end-->

</div>

<!--将被layout引入的js-->
<div layout:fragment="javascript">
    <script>
        $("#datapanelLi").addClass("active");
    </script>

</div>

</body>
</html>
